.login{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
align-items: center;
text-align: center;
}
#login-header{
    color: #2d6aa0;
}
form{
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.inp {

    width: 100%;
}
.inp input{
    display: block;
    margin: 2px auto;
    width: 70%;
    height: 5vh;
    color:#2d6aa0;
    font-size: 20px;
    border:1px solid black;
}
.inp input[type=submit]{
    color: aliceblue;
    background-color: #2d6aa0;
}